In [1]:
import os
import importlib

import pandas as pd
import numpy as np

from src import data
from src.features import build_features

In [2]:
importlib.reload(data)

# データ読み込み

In [3]:
raw_df = data.read_tsv(data.RAW_DATA_PATH_NOTEBOOK)

In [4]:
raw_df.head(2)

,Sentence,UserID,Datetime,Train/Dev/Test,Writer_Joy,Writer_Sadness,Writer_Anticipation,Writer_Surprise,Writer_Anger,Writer_Fear,...,Reader3_Disgust,Reader3_Trust,Avg. Readers_Joy,Avg. Readers_Sadness,Avg. Readers_Anticipation,Avg. Readers_Surprise,Avg. Readers_Anger,Avg. Readers_Fear,Avg. Readers_Disgust,Avg. Readers_Trust
0,ぼけっとしてたらこんな時間｡チャリあるから食べにでたいのに…,1,2012/07/31 23:48,train,0,1,2,1,1,0,...,1,0,0,2,0,0,0,0,0,0
1,今日の月も白くて明るい。昨日より雲が少なくてキレイな? と立ち止まる帰り道｡チャリなし生活も...,1,2012/08/02 23:09,train,3,0,3,0,0,0,...,0,1,1,0,0,2,0,0,0,0

# 前処理

In [5]:
# 感情感度が低いサンプルを削除する
# 削除条件：全ての感情で4段階(0-3)の1以下
emotion_cols = [c for c in raw_df.columns if 'Writer' in c]
under = 2
preprocess_df = build_features.delete_index_under_num(raw_df,
                                                      emotion_cols,
                                                      under)

# 正解データの作成
preprocess_df = build_features.create_answer_col(preprocess_df, emotion_cols)

In [6]:
print(raw_df.shape)
print(preprocess_df.shape)

(43200, 45)
(30151, 46)

In [7]:
preprocess_df.head(2)

,Sentence,UserID,Datetime,Train/Dev/Test,Writer_Joy,Writer_Sadness,Writer_Anticipation,Writer_Surprise,Writer_Anger,Writer_Fear,...,Avg. Readers_Joy,Avg. Readers_Sadness,Avg. Readers_Anticipation,Avg. Readers_Surprise,Avg. Readers_Anger,Avg. Readers_Fear,Avg. Readers_Disgust,Avg. Readers_Trust,emotions,answer
0,ぼけっとしてたらこんな時間｡チャリあるから食べにでたいのに…,1,2012/07/31 23:48,train,0,1,2,1,1,0,...,0,2,0,0,0,0,0,0,"[0, 1, 2, 1, 1, 0, 0, 1]","[0.0, 0.16666666666666666, 0.3333333333333333,..."
1,今日の月も白くて明るい。昨日より雲が少なくてキレイな? と立ち止まる帰り道｡チャリなし生活も...,1,2012/08/02 23:09,train,3,0,3,0,0,0,...,1,0,0,2,0,0,0,0,"[3, 0, 3, 0, 0, 0, 0, 3]","[0.3333333333333333, 0.0, 0.3333333333333333, ..."

# 保存

In [8]:
# 使用カラム
use_cols = ['Sentence', 'answer']
preprocess_df = preprocess_df[use_cols]

In [10]:
data.output_csv(preprocess_df, data.PREPROCESS_DATA_PATH_NOTEBOOK)